@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    color: rgb(48, 80, 155);
    margin-top: 0;
    background-color: rgb(191, 214, 233);
    display: grid;
    text-align:center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    grid-template-areas:"nav nav nav" "form form from";
}

nav{
    background-color: whitesmoke;
    margin: 0px;
    height: 100px;
    grid-area: nav;
}



form.principal{
    
    border: 0;
    grid-area: form;
    background-color: white;
    width: 98%;
    height: auto;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(16, 7, 63);
    border-width: 0px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
    margin-bottom: 20px;
}

div.filtros {
    display: flex;
    flex-direction: row;
}
fieldset {
    display: grid;
    justify-items: start;
   
    height: auto;
    width: 100%;
    border-width: 0px;
    background-attachment: fixed;
}
fieldset > div{
    display: flex;
    flex-direction: column;
}

fieldset > div div input[type="radio"]{
    margin-left: 45px;
}
fieldset div.busca input[type="text"]{
    margin-top: 15px;
    width: 150%;
    height: 30px;
    font-size: 20px;
}
fieldset > div  p{
    font-weight: bold;
    align-self: flex-start;
}
fieldset > div input[type="button"]{
    align-items: stretch;
}



form div.tipo input[type="button"]{
    width: 150px;
    height: 50px;
    border-radius: 1px;
      
}


form input[type="button"]{
    width: 20%;
    height: 50px;
    border-radius: 10px;
    border-width: 0px;
    margin-right: 5%;
    margin-bottom: 15px;
    font-size: 20px;
    background-color: rgb(125, 186, 236);
    box-shadow: 0px 0px 5px rgb(16, 7, 63);
    justify-self: end;
}

